//
// footStyle is for the bottom of contents area.
//

$menuColor:           #434343; // 消炭
$menuBackgroundColor: #B28FCE; // 薄
// <Reference> http://nipponcolors.com/#usu

$menuFont:            'Kaushan Script';
// <Reference> http://uxmilk.jp/52837

@font-face {
  font-family: 'Kaushan Script', cursive;
  src: url(https://fonts.googleapis.com/css?family=Kaushan+Script)
}

.foot {
  color:       $menuColor;
  background:  $menuBackgroundColor;
  font-family: $menuFont;
  position: fixed;
  right: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
}
