//
// mainStyle.scss
//
//

@import "headStyle";
@import "footStyle";

$titleColor  : #FF3399;
$titleBackgroundColor: #555555;

.pageTitle {
  color:      $titleColor;
  margin-top: 50px; 
  background: $titleBackgroundColor;
}
